---
export interface Props {
  number?: number
  title?: string
  text?: string
}

const {
  number = 0,
  title = 'This is place holder title',
  text = 'This is place holder body copy',
} = Astro.props as Props
---

<div class="w-3/4 shrink-0 snap-center lg:w-auto lg:shrink">
  <div class="relative border-b-[1px] border-dotted pr-[50px]">
    <div
      class="left-0 mb-[-15px] flex h-[30px] w-[30px] rounded-full bg-[#dee777] text-center align-middle leading-[30px]"
    >
      <span class="mb-14 inline-block w-full text-[#181d1f]">
        {number + 1}
      </span>
    </div>
  </div>
  <div class="sd appear">
    <h3 class="mb-[30px] mt-[45px] text-[24px]">
      {title}
    </h3>
    <div class="richText sd">
      <p>{text}</p>
    </div>
  </div>
</div>
