---
const slideItems = [1, 2, 3, 4]
---

<div class="flex lg:flex-row">
  {
    slideItems.map((slideItem) => {
      return (
        <div>
          <div>
            <div class="relative border-t-[1px] border-dotted pr-[50px]">
              <span class="absolute top-[-20px] left-0 block  rounded-full border-white first:h-[50px] first:w-[50px]">
                1
              </span>
            </div>
          </div>
          <div class="sd appear">
            <h3 class="text sd appear">First Meetings</h3>
            <div class="richText sd">
              <p data-uid="fhgPPwi9" data-time="">
                Contact our representative and choose the{' '}
                <u>appropriate date</u> for the first meeting with
                details.&nbsp;Signing the worktime plan.
              </p>
            </div>
          </div>
        </div>
      )
    })
  }
</div>
