---
---

<footer
  class="mx-auto flex min-h-[100px] max-w-[1280px] flex-col flex-nowrap justify-between rounded-t-lg border-b-[1px] bg-white px-[20px] text-center"
>
  <div class="pb-[60px] pt-[30px]">
    <div class="mb-[50px] border-b-[1px]">
      <div
        class="mx-auto mb-5 flex max-w-[232px] flex-row flex-nowrap items-center"
      >
        <div class="mr-2 flex flex-row flex-nowrap items-center">
          <div class="h-[5px] w-[5px] rounded-full bg-black"></div><div
            class="h-[10px] w-[10px] rounded-full bg-black"
          >
          </div>
        </div>
        <img alt="footer logo" src="/images/logo-footer.svg" />
      </div>
    </div>
    <div
      class="mx-auto mb-[50px] flex max-w-[205px] flex-row flex-nowrap items-center"
    >
      <div class="social-icons" aria-label="Instagram">
        <i class="icon fa fa-instagram sd appear inline-block"></i>
      </div><div class="social-icons" aria-label="Facebook">
        <i class="icon fa fa-facebook sd appear"></i>
      </div><div class="social-icons" aria-label="Linkedin">
        <i class="icon fa fa-linkedin sd appear"></i>
      </div><div class="social-icons" aria-label="Twitter">
        <i class="icon fa fa-twitter sd appear"></i>
      </div>
    </div>

    <p
      class="text-xs leading-[18.2px] tracking-[3.9px] text-[rgba(24,29,31,0.7)]"
    >
      COPYRIGHT © 2023 STUDIO PLATFORM. ALL RIGHT RESERVED.
    </p>
  </div>
</footer>
<style>
  .social-icons {
    @apply mr-1 flex h-[43px] w-[43px] items-center justify-center rounded-full border-[1px] bg-white transition-all duration-700 ease-in-out hover:bg-black  hover:text-white;
  }
</style>
