---
---

<section class="hero-image"></section>
<style>
  .hero-image {
    @apply z-0 mx-auto mb-6 mt-[-100px] min-h-[729px] w-full max-w-[1650px] overflow-hidden rounded-b-xl bg-hero-image bg-cover bg-center bg-no-repeat before:absolute before:top-0 before:left-0 before:z-[1] before:block before:h-full before:w-full before:bg-black/30;
  }
</style>
