---
---

<section class="hero-image">
  <div
    class="relative z-[1] mx-auto mt-[100px] flex max-w-[1280px] flex-col justify-between px-[20px] pt-[65px] align-middle"
  >
    <div class="w-3/4">
      <h1
        class="mb-16 text-[42px] font-bold leading-[42px] tracking-[-0.84] text-white transition-all ease-in-out lg:text-[67px] lg:leading-[67px] lg:tracking-[-1.34px]"
      >
        <u>Solution</u> for&nbsp;<em
          class="not-italic text-[rgba(255,255,255,0.6)]">business</em
        ><br /><em class="not-italic text-[rgba(255,255,255,0.6)]">community</em
        > and <br /> development.
      </h1>
      <div class="mb-11 flex flex-row items-center">
        <div
          class="mr-4 h-[35px] w-[35px] rounded-full bg-[url(https://images.unsplash.com/photo-1534399315465-2b91232de345?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)] bg-cover bg-center bg-no-repeat"
        >
        </div>

        <p class="text-white">MIKE JOHNSON</p>
      </div>
      <div class="max-w-2xl font-light text-white">
        <p>
          IT solutions for business and implementation of <u
            >management systems</u
          >. Learning promotion and use in company.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-image {
    @apply relative z-0 mx-auto mb-6 mt-[-100px] min-h-[729px] w-full max-w-[1650px] overflow-hidden rounded-b-3xl bg-hero-image bg-cover bg-center bg-no-repeat before:absolute before:top-0 before:left-0 before:z-[1] before:block before:h-full before:w-full before:bg-black/30;
  }
</style>
